<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h1 data-th-text="${boardName}"></h1>
<a data-th-href="@{form(category=${category})}">새 글</a>
<table border='1'>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>첨부파일</th>
    </tr>
    </thead>
    <tbody>


    <tr data-th-each="board : ${list}" data-th-object="${board}">
        <td data-th-text="*{no}">232</td>
        <td><a data-th-href="@{view(category=${category},no=*{no})}"
               data-th-text="*{title}"></a>2345
        </td>
        <td data-th-text="*{writer.name}">3254</td>
        <td
                data-th-text="${#dates.format(board.createdDate,'yyyy-MM-dd')}">
        </td>
        <td data-th-text="*{fileCount}"></td>
    </tr>


    </tbody>
</table>

<p>

    [
    <a data-th-if="${pageNo <=1}">이전</a>

    <a data-th-if="${pageNo > 1}" data-th-th="@{list(category=${category},pageNo=${pageNo -1},pageSize=${pageSize})}"
       href="lsit"> 이전</a>
    ]

    [<a data-th-if="${pageNo >= numOfPage}">다음</a>

    <a data-th-href="@{list(category=${category},pageNo=${pageNo +1},pageSize=${pageSize})}"

       data-th-if="${pageNo < numOfPage}" href="lsit"> 다음</a>
    ]
</p>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>